@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #24282f;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	@media (max-width: 920px) {
		font-size: 14px;
		@media (max-width: 500px) {
			font-size: 10px;
		}
	}

	.title {
		padding: 3em;
		background: #fff;
		h1 {
			text-align: center;
			margin: 0;
			font-size: 60px;
		}
	}
	.wrapper-card {
		padding: 2em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 3em;
		justify-content: center;
		@media (max-width: 850px) {
			grid-template-columns: 1fr;
			grid-gap: 1em;
		}
		.card {
			display: flex;
			overflow: hidden;
			background: #3c3e44;
			border-radius: 1em;
			.image {
				width: 60%;
				height: auto;
				img {
					object-fit: cover;
					height: 100%;
					width: 100%;
				}
			}
			.content {
				color: #fff;
				display: flex;
				flex-direction: column;
				height: auto;
				width: 100%;
				align-items: center;
				justify-content: space-around;

				.name {
					h1 {
						margin: 0;
					}
				}

				.last-location {
					display: flex;
					text-align: center;
					flex-direction: column;
				}
				.first-seen {
					display: flex;
					text-align: center;
					flex-direction: column;
				}
			}
		}
	}
}
